<div class="fr-container">
  <%= render 'admin/shared/navigation' %>

  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-8">
      <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <ol class="fr-breadcrumb__list">
          <li>
            <%= link_to "Éditeurs", admin_editors_path, class: "fr-breadcrumb__link" %>
          </li>
          <li>
            <a class="fr-breadcrumb__link" aria-current="page">Nouvel éditeur</a>
          </li>
        </ol>
      </nav>

      <h1>Nouvel éditeur</h1>

      <%= form_with model: [:admin, @editor], local: true do |form| %>
        <% if @editor.errors.any? %>
          <div class="fr-alert fr-alert--error">
            <p>Erreurs :</p>
            <ul>
              <% @editor.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="fr-input-group">
          <%= form.label :name, "Nom", class: "fr-label" %>
          <%= form.text_field :name, class: "fr-input" %>
        </div>

        <div class="fr-checkbox-group">
          <%= form.check_box :authorized, class: "fr-checkbox" %>
          <%= form.label :authorized, "Autorisé", class: "fr-label" %>
        </div>

        <div class="fr-checkbox-group">
          <%= form.check_box :active, class: "fr-checkbox" %>
          <%= form.label :active, "Actif", class: "fr-label" %>
        </div>

        <div class="fr-checkbox-group">
          <%= form.check_box :can_create_defense_markets, class: "fr-checkbox" %>
          <%= form.label :can_create_defense_markets, "Peut créer des marchés de défense et sécurité (MDS)", class: "fr-label" %>
        </div>

        <div class="fr-mt-3w">
          <%= form.submit "Créer", class: "fr-btn" %>
          <%= link_to "Annuler", admin_editors_path, class: "fr-btn fr-btn--secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
