<% content_for :title, "#{@market_application.siret} - #{t('candidate.market_applications.attestation_motifs_exclusion.title')}" %>
<% bodacc_motifs = @market_application.bodacc_exclusion_motifs %>


<%= stepper(
  current_step: :attestation_motifs_exclusion,
  steps: @wizard_steps,
  i18n_scope: 'candidate',
  show_separator: true
) %>

<%= form_with model: @market_application, url: wizard_path, local: true, data: { turbo: false }, class: "fr-mb-4w" do |form| %>
  <div class="fr-grid-row">
    <div class="fr-col-12">
      <div class="fr-border-default--grey fr-p-4w fr-mb-4w">
        <%= render "shared/notice", notice_text: t('candidate.market_applications.attestation_motifs_exclusion.info_banner') %>

        <div class="fr-checkbox-group">
          <%= form.check_box :attests_no_exclusion_motifs,
                class: "fr-checkbox",
                id: "attests_no_exclusion_motifs" %>
          <%= form.label :attests_no_exclusion_motifs,
                t('candidate.market_applications.attestation_motifs_exclusion.checkbox_label'),
                class: "fr-label fr-text--bold",
                for: "attests_no_exclusion_motifs" %>
        </div>
      </div>
      <% if bodacc_motifs.any? %>
        <% bodacc_motifs.each do |motif| %>
          <% key = motif.market_attribute.key %>
            <%= render partial: "candidate/market_applications/motifs_exclusion_contestation", locals: {
              title: t("candidate.market_applications.motifs_exclusion.#{key}.title"),
              desc: t("candidate.market_applications.motifs_exclusion.#{key}.desc"),
              info: t("candidate.market_applications.motifs_exclusion.#{key}.info"),
              form: form,
              market_attribute_response: motif
            } %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render "wizard_nav" %>
<% end %>
