<% content_for :title, "#{@market_application.siret} - #{t('candidate.market_applications.steps.market_and_company_information')}" %>

<%
  current_category = @presenter.parent_category_for(step.to_s)
%>

<%= stepper(
  current_step: current_category,
  steps: @wizard_steps,
  i18n_scope: 'candidate',
  show_separator: true
) %>

<% subcategories = @presenter.subcategories_for_category(current_category) %>

<%= form_with model: @market_application, url: wizard_path, local: true, data: { turbo: false }, class: "fr-mb-4w" do |form| %>
  <div class="fr-grid-row">
    <% if subcategories.any? %>
      <%= render "sidemenu_subcategories", subcategories: , step: %>
    <% end %>

    <div class="<%= subcategories.any? ? 'fr-col-9' : 'fr-col-12' %>">
      <% if subcategories.any? %>
        <div class="fr-mb-4w">
          <h6 id="<%= step %>" class="fr-text-title--blue-france fr-mb-2w">
            <%= t("form_fields.candidate.subcategories.#{step}",
                  default: t("candidate.market_applications.manual_subcategories.#{step}",
                            default: step.to_s.humanize)) %>
          </h6>

          <ul class="fr-list fr-mb-3w">
            <li class="fr-list__item">
              <div class="field-layout-container">
                <div class="field-layout-content">
                  <strong><%= t('candidate.shared.market_name') %></strong>
                  <br>
                  <span class="fr-text--sm fr-text--mention-grey"><%= @market_application.public_market.name %></span>
                </div>
              </div>
            </li>
            <% if @market_application.public_market.lot_name.present? %>
              <li class="fr-list__item">
                <div class="field-layout-container">
                  <div class="field-layout-content">
                    <strong><%= t('candidate.shared.lot_name') %></strong>
                    <br>
                    <span class="fr-text--sm fr-text--mention-grey"><%= @market_application.public_market.lot_name %></span>
                  </div>
                </div>
              </li>
            <% end %>
            <li class="fr-list__item">
              <div class="field-layout-container">
                <div class="field-layout-content">
                  <strong><%= t('candidate.shared.deadline') %></strong>
                  <br>
                  <span class="fr-text--sm fr-text--mention-grey"><%= l(@market_application.public_market.deadline, format: '%d/%m/%Y %H:%M') %> (heure de Paris)</span>
                </div>
              </div>
            </li>
            <li class="fr-list__item">
              <div class="field-layout-container">
                <div class="field-layout-content">
                  <strong><%= t('candidate.shared.market_type') %></strong>
                  <br>
                  <span class="fr-text--sm fr-text--mention-grey">
                    <% if @market_application.public_market.market_type_codes.any? %>
                      <% @market_application.public_market.market_type_codes.each do |market_type_code| %>
                        <span class="fr-badge fr-badge--sm fr-mr-1w">
                          <%= t("market_types.#{market_type_code}", default: market_type_code.humanize) %>
                        </span>
                      <% end %>
                    <% else %>
                      <%= t('candidate.shared.no_market_type') %>
                    <% end %>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      <% else %>
        <p class="fr-text--sm fr-text--mention-grey"><%= t('candidate.shared.no_content') %></p>
      <% end %>
    </div>
  </div>

  <%= render "wizard_nav" %>
<% end %>
