<% content_for :title, "#{@market_application.siret} - #{t('candidate.market_applications.steps.summary')}" %>

<% if @presenter&.optional_market_attributes? %>
  <%= render 'shared/notice',
             notice_text: t('candidate.market_applications.summary.buyer_additional_info_banner'),
             color: 'info' %>
<% end %>

<%= render "stepper", step: step, wizard_steps: @wizard_steps %>

<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-12">
    <% if @presenter %>
      <div class="fr-mb-4w">
        <%= render 'shared/application_summary_content',
                   market_application: @market_application,
                   presenter: @presenter,
                   context: :web %>
      </div>
    <% end %>
  </div>
</div>

<div class="wizard-nav">
  <div class="fr-col-12">
    <div class="fr-mb-4w">
      <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline">
        <%= link_to previous_wizard_path, class: "fr-btn fr-btn--secondary" do %>
          <span class="fr-icon-arrow-left-line" aria-hidden="true"></span>
          <span class="fr-ml-1w">Précédent</span>
        <% end %>
        <%= form_with model: @market_application, url: wizard_path, method: :put, local: true, data: { turbo: false } do |form| %>
          <button type="submit" class="fr-btn fr-btn--icon-right">
            <%= t('button.submit_summary') %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
