<div class="field-layout-container">
  <div class="field-layout-content">
    <strong>
      <%= component.field_label %>
    </strong>

    <% if component.show_value? %>
      <br>
      <span class="fr-text--md fr-text--mention-grey">
        <% if component.documents_attached? %>
          <% component.documents.each do |document| %>
            <%= render MarketAttributeResponse::Shared::DocumentItemComponent.new(
              document: document,
              market_application: component.market_attribute_response.market_application,
              context: component.context,
              naming_service: component.naming_service
            ) %>
          <% end %>
        <% else %>
          <span class="fr-text--md fr-text--mention-grey"><%= component.no_documents_message %></span>
        <% end %>
      </span>
    <% elsif component.qualiopi_metadata? %>
      <br>
      <%= render MarketAttributeResponse::ApiDisplay::QualiopiComponent.new(
        market_attribute_response: component.market_attribute_response,
        context: component.context
      ) %>
    <% end %>
  </div>
  <div class="field-layout-badge">
    <% if component.documents_attached? || component.qualiopi_metadata? %>
      <%= render component.source_badge_component %>
    <% else %>
      <span class="fr-text--mention-grey"><%= component.not_provided_message %></span>
    <% end %>
  </div>
</div>
<hr class="fr-hr">
