<% if component.auto? %>
  <% if component.qualiopi_metadata? %>
    <%= component.form.fields_for :market_attribute_responses, component.market_attribute_response,
                                  child_index: component.market_attribute_response.id do |response_form| %>
      <%= response_form.hidden_field :id %>
      <%= response_form.hidden_field :market_attribute_id %>
      <%= response_form.hidden_field :type %>
    <% end %>

    <div class="certificate-row">
      <div class="certificate-col certificate-col--left">
        <h6 class="fr-mb-2w fr-text--md">
          <%= component.field_label %>
        </h6>
        <% if component.field_description.present? %>
          <span class="fr-mb-2w fr-text--sm">
            <%= component.field_description %>
          </span>
        <% end %>
      </div>
      <div class="certificate-col certificate-col--right">
        <div class="fr-mb-1w">
          <%= render SourceBadgeComponent.new(market_attribute_response: component.market_attribute_response) %>
        </div>
        <%= render MarketAttributeResponse::ApiDisplay::QualiopiComponent.new(
          market_attribute_response: component.market_attribute_response,
          context: :web
        ) %>
      </div>
    </div>
  <% else %>
    <%= component.form.fields_for :market_attribute_responses, component.market_attribute_response,
                                  child_index: component.market_attribute_response.id do |response_form| %>
      <%= response_form.hidden_field :id %>
      <%= response_form.hidden_field :market_attribute_id %>
      <%= response_form.hidden_field :type %>
    <% end %>

    <div class="fr-mb-2w">
      <label class="fr-label">
        <%= component.field_label %>
      </label>
      <%= render SourceBadgeComponent.new(market_attribute_response: component.market_attribute_response) %>
      <p class="fr-text--sm fr-text--mention-grey">
        <%= component.auto_filled_message %>
      </p>
    </div>
  <% end %>
<% else %>
  <div class="certificate-row">
    <div class="certificate-col certificate-col--left">
      <h6 class="fr-mb-2w fr-text--md">
        <%= component.field_label %>
      </h6>
      <% if component.field_description.present? %>
        <span class="fr-mb-2w fr-text--sm">
          <%= component.field_description %>
        </span>
      <% end %>
    </div>
    <div class="certificate-col certificate-col--right">
      <%= component.form.fields_for :market_attribute_responses, component.market_attribute_response,
                                    child_index: component.market_attribute_response.id do |response_form| %>
        <%= response_form.hidden_field :id %>
        <%= response_form.hidden_field :market_attribute_id %>
        <%= response_form.hidden_field :type %>

        <%= render MarketAttributeResponse::Fields::FileUploadFieldComponent.new(
          form: response_form,
          attribute_response: component.market_attribute_response,
          deletable: true,
          multiple: true
        ) %>
      <% end %>
    </div>
  </div>
<% end %>
<hr class="fr-hr">
