<%
  field_key ||= nil
  field ||= nil
  checked ||= false
  public_market ||= @public_market

  source_type = if field&.from_api?
                  'authentic_source'
                else
                  'honor_declaration'
                end

  is_checked = checked || public_market&.market_attributes&.any? { |attr| attr.key == field_key.to_s }
%>

<div class="fr-fieldset__element">
  <div class="fr-checkbox-group">
    <%= check_box_tag "selected_attribute_keys[]", field_key, is_checked,
        { id: "field_#{field_key}", class: "fr-checkbox" } %>
    <%= label_tag "field_#{field_key}", class: "fr-checkbox__label fr-ml-2w" do %>
      <div class="field-layout-container">
        <div class="field-layout-content">
          <%= t("form_fields.buyer.fields.#{field_key}.name") %>
          <% description_key = "form_fields.buyer.fields.#{field_key}.description" %>
          <% if I18n.exists?(description_key) %>
            <br>
            <span class="fr-hint-text"><%= t(description_key) %></span>
          <% end %>
        </div>
        <div class="field-layout-badge">
          <% if field && source_type %>
            <% source_info = t("form_fields.source_types.#{source_type}") %>
            <span class="fr-badge <%= source_info[:badge_class] %>">
              <%= source_info[:label] %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
