<%
  field_key ||= nil
  field ||= nil
  html_tag ||= :div
  wrapper_classes ||= ""
  content_classes ||= "fr-pt-4v fr-pb-4v"

  source_type = if field&.from_api?
                  'authentic_source'
                else
                  'honor_declaration'
                end
%>

<%= content_tag html_tag, class: "#{wrapper_classes} #{content_classes}" do %>
  <div class="field-layout-container">
    <div class="field-layout-content">
      <span class="fr-text--md">
        <%= t("form_fields.buyer.fields.#{field_key}.name") %>
      </span>
      <% description_key = "form_fields.buyer.fields.#{field_key}.description" %>
      <% if I18n.exists?(description_key) %>
        <br>
        <span class="fr-text--sm fr-text--mention-grey"><%= t(description_key) %></span>
      <% end %>
    </div>
    <div class="field-layout-badge">
      <% if field && source_type %>
        <% source_info = t("form_fields.source_types.#{source_type}") %>
        <span class="fr-badge <%= source_info[:badge_class] %>">
          <%= source_info[:label] %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>
