<%
  field_key ||= nil
  field ||= nil
  checked ||= false
  public_market ||= @public_market
  
  source_type = field&.source_type
  is_checked = checked || public_market&.selected_optional_fields&.include?(field_key)
%>

<div class="fr-fieldset__element">
  <div class="fr-checkbox-group fr-pt-4v fr-pb-4v">
    <%= check_box_tag "selected_optional_fields[]", field_key, is_checked,
        { id: "field_#{field_key}", class: "fr-checkbox" } %>
    <%= label_tag "field_#{field_key}", class: "fr-label" do %>
      <div style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%;">
        <div style="flex: 1; margin-right: 1rem;">
          <%= t("form_fields.fields.#{field_key}.name") %>
          <br>
          <span class="fr-hint-text"><%= t("form_fields.fields.#{field_key}.description") %></span>
        </div>
        <div style="flex-shrink: 0;">
          <% if field && source_type %>
            <% source_info = field.source_info %>
            <span class="fr-badge <%= source_info[:badge_class] %>">
              <%= source_info[:label] %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
