<%
  subcategory ||= nil
  subcategories ||= {}
  presenter ||= @presenter
  is_last = false if is_last.nil?
  table_mode = local_assigns[:table_mode] || false
  show_header = presenter&.display_sidemenu?(subcategories)
  margin_class = is_last ? '' : 'fr-mb-3w'
  bg_class = table_mode ? 'fr-background-alt--grey' : 'fr-background--white'
  padding_class = 'fr-pl-5v fr-pt-2w fr-pb-2w fr-pr-5v'
%>

<% content = capture do %>
  <% if show_header %>
  <%= %>
    <h4 class="fr-text--lg fr-text--bold fr-mb-2w">
      <%= t("form_fields.buyer.subcategories.#{subcategory}") %>
    </h4>
  <% end %>
  <%= yield if block_given? %>
<% end %>

<% unless content.strip.blank? %>
  <div class="<%= margin_class %>">
    <div class="<%= bg_class %> <%= padding_class %>">
      <%= content.html_safe %>
    </div>
  </div>
<% end %>
