<%
  subcategory ||= nil
  subcategories ||= {}
  presenter ||= @presenter
  is_last = false if is_last.nil?
  table_mode = local_assigns[:table_mode] || false
  show_header = presenter&.display_sidemenu?(subcategories)
  bg_class = table_mode ? 'fr-background-alt--grey' : 'fr-background--white'
%>

<% content = capture do %>
  <% if show_header %>
    <h4 class="fr-text--md fr-text--bold fr-mb-3w <%= table_mode ? 'fr-p-3w' : '' %>">
      <%= subcategory_label(subcategory, scope: :buyer) %>
    </h4>
  <% end %>
  <% if table_mode %>
    <div class="fr-px-3w">
      <%= yield if block_given? %>
    </div>
  <% else %>
    <%= yield if block_given? %>
  <% end %>
<% end %>

<% unless content.strip.blank? %>
  <div class="<%= bg_class %> <%= table_mode ? 'fr-mb-4w' : '' %>">
    <%= content.html_safe %>
  </div>
<% end %>
