<% content_for :title, "#{@public_market.editor.name} - #{t("form_fields.buyer.categories.#{@current_category}", default: @current_category.humanize)}" %>

<div class="fr-grid-row">
  <div class="fr-col-12">
    <%= stepper(
      current_step: step,
      steps: @wizard_steps,
      i18n_scope: 'buyer'
    ) %>
  </div>
</div>

<div class="fr-grid-row">
  <div class="fr-col-12">
    <div class="fr-mb-4w">
      <h3 class="fr-h5 fr-mb-2w"><%= t("buyer.public_markets.generic_step.steps.#{step}.title") %></h3>
      <% if (subtitle = t("buyer.public_markets.generic_step.steps.#{step}.subtitle", default: nil)) %>
        <p class="fr-text--lg fr-mb-3w"><%= subtitle %></p>
      <% end %>

      <% if (box_content = t("buyer.public_markets.generic_step.steps.#{step}.box_content_html", default: nil)) %>
        <div class="fr-p-3w" style="background-color: var(--background-alt-grey);">
          <p class="fr-mb-0"><%= box_content %></p>
        </div>
      <% end %>

      <% if @mandatory_fields.present? %>
        <% @mandatory_fields.each_with_index do |(subcategory, fields), subcat_index| %>
          <%= render 'subcategory_section',
                subcategory: subcategory,
                subcategories: @mandatory_fields,
                is_last: (subcat_index == @mandatory_fields.size - 1) do %>
            <ul class="fr-list">
              <% fields.each do |field_key| %>
                <% field = @presenter.field_by_key(field_key) %>
                <%= render 'field_display',
                      field_key: field_key,
                      field: field,
                      html_tag: :li,
                      wrapper_classes: 'fr-list__item' %>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% if @has_optional_fields %>
      <div data-controller="additional-fields" data-additional-fields-category-value="<%= @current_category %>">
        <div class="fr-mb-4w fr-border-default--grey">
          <div class="fr-p-4w">
            <h3 class="fr-mb-3w fr-text--lg fr-text--bold"><%= t('buyer.public_markets.generic_step.optional_question') %></h3>
            <div class="fr-radio-group fr-mb-1w">
              <input type="radio" id="additional-yes-<%= @current_category %>" name="additional_fields_choice" value="yes" class="fr-radio" data-action="change->additional-fields#showAdditionalFieldsAndEnableSubmit" data-additional-fields-target="yesOption">
              <label class="fr-label" for="additional-yes-<%= @current_category %>">
                <%= t('buyer.public_markets.generic_step.yes_option') %>
              </label>
            </div>
            <div class="fr-radio-group">
              <input type="radio" id="additional-no-<%= @current_category %>" name="additional_fields_choice" value="no" class="fr-radio" data-action="change->additional-fields#hideAdditionalFieldsAndEnableSubmit" data-additional-fields-target="noOption">
              <label class="fr-label" for="additional-no-<%= @current_category %>">
                <%= t('buyer.public_markets.generic_step.no_option') %>
              </label>
            </div>
          </div>
        </div>

        <%= form_with model: @public_market, url: wizard_path, local: true, data: { turbo: false } do |form| %>
          <div class="fr-mb-4w" data-additional-fields-target="accordion">
            <div class="fr-mb-4w">
              <h3 class="fr-mb-2w fr-text--lg fr-text--bold"><%= t("buyer.public_markets.generic_step.steps.#{step}.optional_fields_title") %></h3>
              <p class="fr-mb-0"><%= t("buyer.public_markets.generic_step.steps.#{step}.optional_fields_description") %></p>
            </div>
            <% @optional_fields.each_with_index do |(subcategory, fields), subcat_index| %>
              <%= render 'subcategory_section',
                    subcategory: subcategory,
                    subcategories: @optional_fields,
                    is_last: (subcat_index == @optional_fields.size - 1) do %>
                <div class="fr-fieldset__content">
                  <% fields.each do |field_key| %>
                    <% field = @presenter.field_by_key(field_key) %>
                    <%= render 'field_checkbox', field_key: field_key, field: field %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="fr-mb-4w">
            <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline">
              <%= link_to previous_wizard_path, class: "fr-btn fr-btn--secondary" do %>
                <%= t('buyer.public_markets.navigation.previous') %>
              <% end %>
              <%= form.submit t('buyer.public_markets.navigation.next'),
                class: "fr-btn fr-btn--lg",
                data: { additional_fields_target: "submitButton" },
                disabled: true,
                title: t('buyer.public_markets.navigation.next') %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= form_with model: @public_market, url: wizard_path, method: :patch, local: true do |form| %>
        <div class="fr-mb-4w fr-mt-4w">
          <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline">
            <%= link_to previous_wizard_path, class: "fr-btn fr-btn--secondary" do %>
              <%= t('buyer.public_markets.navigation.previous') %>
            <% end %>
            <%= form.submit t('buyer.public_markets.navigation.next'), class: "fr-btn fr-btn--icon-right" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
