<% if component.auto? %>
  <%= component.form.fields_for :market_attribute_responses, component.market_attribute_response,
                                child_index: component.market_attribute_response.id do |response_form| %>
    <%= response_form.hidden_field :id %>
    <%= response_form.hidden_field :market_attribute_id %>
    <%= response_form.hidden_field :type %>
    <%= response_form.hidden_field :text, value: component.text_value %>
  <% end %>

  <div class="fr-mb-2w">
    <label class="fr-label">
      <%= component.field_label %>
    </label>
    <%= render component.source_badge_component %>
    <p class="fr-text--sm fr-text--mention-grey">
      <%= component.auto_filled_message %>
    </p>
  </div>
<% else %>
  <div class="<%= component.input_group_css_class %>">
    <%= component.form.fields_for :market_attribute_responses, component.market_attribute_response,
                                  child_index: component.market_attribute_response.id do |response_form| %>
      <%= response_form.hidden_field :id %>
      <%= response_form.hidden_field :market_attribute_id %>
      <%= response_form.hidden_field :type %>

      <%= response_form.label :text, class: "fr-label" do %>
        <%= component.field_label %>
        <%= render component.source_badge_component %>
      <% end %>

      <span class="fr-hint-text"><%= component.hint_text %></span>

      <%= response_form.telephone_field :text,
            value: component.text_value,
            class: component.input_css_class,
            id: component.input_id,
            autocomplete: "tel",
            aria: { describedby: component.aria_describedby } %>

      <% if component.errors? %>
        <p class="fr-error-text">
          <%= component.error_messages.first %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
