<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <%= link_to root_path, class: "fr-header__logo", title: t('header.home_title') do %>
              <p class="fr-logo">
                République<br>Française
              </p>
            <% end %>
            <div class="fr-header__operator">
              <%= image_tag 'passe-marche-logo.png',
                  alt: t('header.logo_operator_alt'),
                  class: 'fr-responsive-img' %>
            </div>
            <div class="fr-header__navbar">
              <button data-fr-opened="false" aria-controls="modal-header-menu" title="Menu" type="button" id="button-header-menu" class="fr-btn--menu fr-btn">Menu</button>
            </div>
          </div>
          <div class="fr-header__service">
            <%= link_to root_path, title: t('header.home_title') do %>
              <p class="fr-header__service-title">
                <%= t('header.service_title') %>
              </p>
            <% end %>
            <p class="fr-header__service-tagline"><%= t('header.service_tagline') %></p>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-btns-group">
              <% if current_candidate %>
                <li>
                  <%= link_to t('header.navigation.my_applications'), candidate_dashboard_path,
                      class: class_names("fr-btn", "fr-btn--tertiary", "fr-icon-list-unordered", "fr-btn--icon-left", "fr-btn--active": current_page?(candidate_dashboard_path)) %>
                </li>
              <% else %>
                <li>
                  <%= link_to t('header.navigation.candidate'), candidate_home_path,
                      class: class_names("fr-btn", "fr-btn--active": current_page?(candidate_home_path)) %>
                </li>
                <li>
                  <%= link_to t('header.navigation.buyer'), buyer_home_path,
                      class: class_names("fr-btn", "fr-btn--active": current_page?(buyer_home_path) || current_page?(root_path)) %>
                </li>
              <% end %>
              <% if admin_user_signed_in? %>
                <li>
                  <%= link_to t('admin.navigation.logout'), destroy_admin_user_session_path,
                      data: { turbo_method: :delete },
                      class: "fr-btn fr-icon-logout-box-r-line" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-header__menu fr-modal" id="modal-header-menu" aria-labelledby="button-header-menu">
    <div class="fr-container">
      <button aria-controls="modal-header-menu" title="Fermer" type="button" class="fr-btn--close fr-btn">Fermer</button>
      <div class="fr-header__menu-links">
        <ul class="fr-btns-group">
          <% if current_candidate %>
            <li>
              <%= link_to t('header.navigation.my_applications'), candidate_dashboard_path,
                  class: class_names("fr-btn", "fr-btn--tertiary", "fr-icon-list-unordered", "fr-btn--icon-left", "fr-btn--active": current_page?(candidate_dashboard_path)) %>
            </li>
          <% else %>
            <li>
              <%= link_to t('header.navigation.candidate'), candidate_home_path,
                  class: class_names("fr-btn", "fr-btn--active": current_page?(candidate_home_path)) %>
            </li>
            <li>
              <%= link_to t('header.navigation.buyer'), buyer_home_path,
                  class: class_names("fr-btn", "fr-btn--active": current_page?(buyer_home_path) || current_page?(root_path)) %>
            </li>
          <% end %>
          <% if admin_user_signed_in? %>
            <li>
              <%= link_to t('admin.navigation.logout'), destroy_admin_user_session_path,
                  data: { turbo_method: :delete },
                  class: "fr-btn fr-icon-logout-box-r-line" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
