<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <%= link_to root_path, class: "fr-header__logo", title: t('header.home_title') do %>
              <p class="fr-logo">
                République<br>Française
              </p>
            <% end %>
            <div class="fr-header__operator">
              <%= image_tag 'passe-marche-logo.png',
                  alt: t('header.logo_operator_alt'),
                  class: 'fr-responsive-img' %>
            </div>
          </div>
          <div class="fr-header__service">
            <%= link_to root_path, title: t('header.home_title') do %>
              <p class="fr-header__service-title">
                <%= t('header.service_title') %>
              </p>
            <% end %>
            <p class="fr-header__service-tagline"><%= t('header.service_tagline') %></p>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-links-group">
              <li>
                <%= link_to t('header.navigation.candidate'), candidate_home_path,
                    class: class_names("fr-link", "fr-link--active": current_page?(candidate_home_path)) %>
              </li>
              <li>
                <%= link_to t('header.navigation.buyer'), buyer_home_path,
                    class: class_names("fr-link", "fr-link--active": current_page?(buyer_home_path) || current_page?(root_path)) %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
