<div class="field-layout-container">
  <div class="field-layout-content">
    <div class="fr-grid-row fr-mb-2w">
      <div class="fr-col">
        <strong><%= component.field_label %></strong>

        <% if component.show_value? %>
          <br>

          <% if component.radio_yes? %>
            <% # Display details except for BODACC auto (motif exclusion contestations) %>
            <% is_bodacc = component.market_attribute_response.market_attribute.api_name == 'bodacc' %>
            <% show_details = !is_bodacc || !component.market_attribute_response.auto? %>

            <% if show_details %>
              <% if component.text? %>
                <div class="fr-mb-2w">
                  <strong class="fr-text--sm"><%= component.response_label %></strong><br>
                  <%= component.formatted_text %>
                </div>
              <% end %>

              <% if component.documents_attached? %>
                <div>
                  <strong class="fr-text--sm"><%= component.attached_documents_label %></strong><br>
                  <% component.documents.each do |document| %>
                    <%= render MarketAttributeResponse::Shared::DocumentItemComponent.new(
                      document: document,
                      market_application: component.market_attribute_response.market_application,
                      context: component.context,
                      naming_service: component.naming_service
                    ) %>
                  <% end %>
                </div>
              <% end %>

              <% if !component.text? && !component.documents_attached? %>
                <span class="fr-text--md"><%= component.no_info_message %></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="fr-col-auto field-badge-container">
        <% if component.show_value? %>
          <% if component.radio_yes? %>
            <div class="fr-badge fr-badge--success fr-badge--sm fr-mb-1w">Oui</div>
          <% elsif component.radio_no? %>
            <div class="fr-badge fr-badge--sm">Non</div>
          <% else %>
            <div class="fr-badge fr-badge--warning fr-badge--sm">Non renseigné</div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="field-layout-badge">
    <%= render SourceBadgeComponent.new(market_attribute_response: component.market_attribute_response) %>
  </div>
</div>
<hr class="fr-hr">
