<% checked_value = market_attribute_response.checked %>

<div class="fr-checkbox-group">
  <%= form.fields_for :market_attribute_responses, market_attribute_response,
                      child_index: market_attribute_response.id,
                      multipart: true do |response_form| %>
    <%= response_form.hidden_field :id %>
    <%= response_form.hidden_field :market_attribute_id %>

    <div class="fr-fieldset__element">
      <div class="fr-checkbox-group">
        <%= response_form.check_box :checked, {}, "1", "0" %>
        <%= response_form.label :checked, "Je certifie que mon entreprise est à jour de ses obligations d’assurance *",
              class: "fr-checkbox__label" %>

        <% if t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.description", default: nil).present? %>
          <div class="fr-checkbox__label__description">
            <%= t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.description") %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="fr-upload-group fr-mt-2w">
      <%= response_form.label :file, "Ajouter vos documents", class: "fr-label", for: "upload-#{market_attribute_response.id}" %>
      <span class="fr-hint-text">
        Taille maximale : xx Mo. Formats supportés : jpg, png, pdf. Plusieurs fichiers possibles.
      </span>
      <%= response_form.file_field :file,
          id: "upload-#{market_attribute_response.id}",
          class: "fr-upload",
          accept: ".pdf,.doc,.docx,.jpg,.jpeg,.png",
          aria: { describedby: "upload-#{market_attribute_response.id}-messages" } %>

      <div class="fr-messages-group" id="upload-<%= market_attribute_response.id %>-messages" aria-live="polite">
        <% if response_form.object.errors[:file].present? %>
          <p class="fr-message fr-message--error">
            <%= response_form.object.errors[:file].first %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
