<%
  checked_value = market_attribute_response.checked || false
  key = market_attribute_response.market_attribute.key
  documents = market_attribute_response.documents
%>

<div class="fr-checkbox-group">
  <%= form.fields_for :market_attribute_responses, market_attribute_response,
                      child_index: market_attribute_response.id do |response_form| %>
    <%= response_form.hidden_field :id %>
    <%= response_form.hidden_field :market_attribute_id %>
    <%= response_form.hidden_field :type %>

    <h6 class="fr-mb-2w fr-text--md">
      <%= t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.name",
            default: market_attribute_response.market_attribute.key.humanize) %>
    </h6>

    <% if t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.description", default: nil).present? %>
      <div class="fr-hint-text fr-mb-2w fr-text--sm">
        <%= t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.description") %>
      </div>
    <% end %>

    <div class="fr-checkbox-group<%= ' fr-checkbox-group--error' if response_form.object.errors[:checked].any? %>">
      <%= response_form.check_box :checked, { class: "fr-checkbox" }, "1", "0" %>
      <%= response_form.label :checked, class: "fr-checkbox__label fr-mb-2w" do %>
        <%= raw(t("form_fields.source_types.checkbox_with_document.name")) %>
      <% end %>

      <% if response_form.object.errors[:checked].any? %>
        <p class="fr-error-text">
          <%= response_form.object.errors[:checked].first %>
        </p>
      <% end %>
    </div>

    <div class="fr-upload-group fr-mt-2w fr-card fr-p-2w">
      <%= response_form.label :files, "Ajouter vos documents", class: "fr-label fr-mb-2w fr-text--md", for: "upload-#{market_attribute_response.id}" %>
      <span class="fr-hint-text fr-mb-2w fr-text--sm">
        Taille maximale : <%= MarketAttributeResponse::CheckboxWithDocument::MAX_FILE_SIZE / 1.megabyte %> Mo.
        Formats supportés : jpg, png, pdf. Plusieurs fichiers possibles.
      </span>
      <%= response_form.file_field :files,
          id: "upload-#{market_attribute_response.id}",
          class: "fr-upload",
          multipart: true,
          multiple: true,
          accept: ".pdf,.doc,.docx,.jpg,.jpeg,.png",
          aria: { describedby: "upload-#{market_attribute_response.id}-messages" } %>

          <% if documents.attached? %>
            <div class="fr-text--sm fr-mb-0">
              <strong>Fichiers actuels :</strong>
              <% documents.each do |document| %>
                <div>
                  <span class="fr-icon--sm fr-icon-file-fill" aria-hidden="true"></span>
                  <% if document.persisted? %>
                    <%= link_to document.filename.to_s,
                                url_for(document),
                                target: "_blank", rel: "noopener" %>
                  <% else %>
                    <span><%= document.filename.to_s %> (en cours de téléchargement)</span>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>

      <div class="fr-messages-group" id="upload-<%= market_attribute_response.id %>-messages" aria-live="polite">
        <% if response_form.object.errors[:documents].present? %>
          <p class="fr-message fr-message--error">
            <%= response_form.object.errors[:documents].first %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
