<%
  documents = market_attribute_response.documents
%>

<% if defined?(two_columns) && two_columns %>
  <div class="certificate-col certificate-col--left">
    <strong>
      <%= t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.name",
            default: market_attribute_response.market_attribute.key.humanize) %>
    </strong>
  </div>
  <div class="certificate-col certificate-col--right">
    <span class="fr-text--sm fr-text--mention-grey">
      <% if documents.attached? %>
        <div>
          <% documents.each do |doc| %>
            <span class="fr-icon--sm fr-icon-file-fill fr-mr-1v" aria-hidden="true"></span>
            <%= link_to doc.filename.to_s,
                        url_for(doc),
                        target: "_blank", rel: "noopener" %>
            (<%= number_to_human_size(doc.byte_size) %>)
            <br>
          <% end %>
          </div>
        <% else %>
          <span>Aucun fichier téléchargé</span>
        <% end %>
      </span>
  </div>
<% else %>
  <div class="field-layout-container">
    <div class="field-layout-content">
      <strong>
        <%= t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.name",
              default: market_attribute_response.market_attribute.key.humanize) %>
      </strong>
      <br>

      <span class="fr-text--sm fr-text--mention-grey">
        <% if documents.attached? %>
          <div>
            <% documents.each do |doc| %>
              <span class="fr-icon--sm fr-icon-file-fill fr-mr-1v" aria-hidden="true"></span>
              <%= link_to doc.filename.to_s,
                          url_for(doc),
                          target: "_blank", rel: "noopener" %>
              (<%= number_to_human_size(doc.byte_size) %>)
              <br>
            <% end %>
          </div>
        <% else %>
          <span>Aucun fichier téléchargé</span>
        <% end %>
      </span>
    </div>
  </div>
<% end %>
