

<% if market_attribute_response.auto? %>
  <%= auto_filled_field_display(form, market_attribute_response) %>
<% else %>
<div class="certificate-row">
  <div class="certificate-col certificate-col--left">
    <h6 class="fr-mb-2w fr-text--md">
      <%= field_label(market_attribute_response) %>
    </h6>
    <% if field_description(market_attribute_response).present? %>
      <span class="fr-mb-2w fr-text--sm">
        <%= field_description(market_attribute_response) %>
      </span>
    <% end %>
  </div>
  <div class="certificate-col certificate-col--right">
    <%= form.fields_for :market_attribute_responses, market_attribute_response,
                        child_index: market_attribute_response.id do |response_form| %>
      <%= response_hidden_fields(response_form) %>
      <%= direct_upload_field documents: market_attribute_response.documents,
                              market_application_identifier: market_attribute_response.market_application.identifier,
                              show_empty: true,
                              deletable: true,
                              wrapper_class: 'fr-mt-2w',
                              form: response_form do %>
        <span class="fr-hint-text fr-text--sm">
          <%= file_upload_hint_text(MarketAttributeResponse::FileUpload::MAX_FILE_SIZE) %>
        </span>
        <%= response_form.file_field :files,
          class: "fr-upload",
          multiple: true,
          direct_upload: true,
          accept: ".pdf,.doc,.docx,.jpg,.jpeg,.png",
          id: "upload-#{market_attribute_response.id}" %>

        <div class="fr-messages-group" id="upload-<%= market_attribute_response.id %>-messages" aria-live="polite">
          <% if response_form.object.errors[:documents].present? %>
            <p class="fr-message fr-message--error">
              <%= response_form.object.errors[:documents].first %>
            </p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
<hr class="fr-hr">
