<div class="fr-input-group <%= ' fr-input-group--error' if market_attribute_response.errors[:text].any? %>">
  <%= form.fields_for :market_attribute_responses, market_attribute_response,
                      child_index: market_attribute_response.id do |response_form| %>
    <%= response_form.hidden_field :id %>
    <%= response_form.hidden_field :market_attribute_id %>
    <%= response_form.hidden_field :type %>

  <%= render "candidate/market_applications/market_attribute_responses/fields/textarea_field",
        form: response_form,
        attribute_response: market_attribute_response
  %>

  <% end %>
</div>
