<%
  text_value = market_attribute_response.text || ''
%>

<div class="fr-input-group">
  <%= form.fields_for :market_attribute_responses, market_attribute_response,
                      child_index: market_attribute_response.id do |response_form| %>
    <%= response_form.hidden_field :id %>
    <%= response_form.hidden_field :market_attribute_id %>

    <%= response_form.label :text,
          t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.name",
            default: market_attribute_response.market_attribute.key.humanize),
          class: "fr-label fr-label--required" %>


    <% if t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.description", default: nil).present? %>
      <span class="fr-hint-text">
        <%= t("form_fields.candidate.fields.#{market_attribute_response.market_attribute.key}.description") %>
      </span>
    <% end %>

    <span class="fr-hint-text">Description</span>

    <%= response_form.text_area :text,
          value: text_value,
          class: "fr-input",
          required: true,
          rows: 6 %>
  <% end %>
</div>
