<%= turbo_frame_tag "modal" do %>
  <dialog data-controller="modal"
          data-action="click->modal#clickBackdrop"
          class="fr-modal-dialog">
    <div class="fr-modal-dialog__content">
      <div class="fr-modal-dialog__header">
        <h1 class="fr-h5 fr-mb-0">
          <span class="fr-icon-edit-line fr-mr-1w" aria-hidden="true"></span>
          <%= t('.title') %>
        </h1>
        <button type="button"
                class="fr-link fr-link--close"
                data-action="modal#close">
          <%= t('.close') %>
        </button>
      </div>

      <%= form_with model: @category, url: admin_category_path(@category), method: :patch, data: { turbo_frame: "_top" } do |f| %>
        <fieldset class="fr-fieldset fr-mb-3w">
          <legend class="fr-fieldset__legend fr-text--bold">
            <span class="fr-icon-user-line fr-mr-1w" aria-hidden="true"></span>
            <%= t('.buyer_section') %>
          </legend>

          <div class="fr-fieldset__element">
            <div class="fr-input-group<%= ' fr-input-group--error' if @category.errors[:buyer_label].present? %>">
              <%= f.label :buyer_label, t('.label_field'), class: 'fr-label' %>
              <%= f.text_field :buyer_label, class: 'fr-input' %>
              <% if @category.errors[:buyer_label].present? %>
                <p class="fr-error-text"><%= @category.errors.full_messages_for(:buyer_label).join(', ') %></p>
              <% end %>
            </div>
          </div>
        </fieldset>

        <fieldset class="fr-fieldset fr-mb-3w">
          <legend class="fr-fieldset__legend fr-text--bold">
            <span class="fr-icon-team-line fr-mr-1w" aria-hidden="true"></span>
            <%= t('.candidate_section') %>
          </legend>

          <div class="fr-fieldset__element">
            <div class="fr-input-group<%= ' fr-input-group--error' if @category.errors[:candidate_label].present? %>">
              <%= f.label :candidate_label, t('.label_field'), class: 'fr-label' %>
              <%= f.text_field :candidate_label, class: 'fr-input' %>
              <% if @category.errors[:candidate_label].present? %>
                <p class="fr-error-text"><%= @category.errors.full_messages_for(:candidate_label).join(', ') %></p>
              <% end %>
            </div>
          </div>
        </fieldset>

        <div class="fr-btns-group fr-btns-group--inline fr-btns-group--right">
          <button type="button"
                  class="fr-btn fr-btn--secondary"
                  data-action="modal#close">
            <%= t('.cancel') %>
          </button>
          <%= f.submit t('.submit'), class: 'fr-btn' %>
        </div>
      <% end %>
    </div>
  </dialog>
<% end %>
