<div class="fr-card fr-card--no-border">
  <div class="fr-card__body">
    <div class="fr-card__content">
      <h4 class="fr-card__title">
        <%= title %>
      </h4>
    </div>
    <div class="fr-card__footer">
      <p class="fr-text--sm fr-mb-1w">
        <strong><%= t('admin.socle_de_base.accordion.category_label') %>:</strong>
        <%= category_label %>
      </p>
      <p class="fr-text--sm fr-mb-1w">
        <strong><%= t('admin.socle_de_base.accordion.subcategory_label') %>:</strong>
        <%= subcategory_label %>
      </p>
      <p class="fr-text--sm fr-mb-1w">
        <strong><%= t('admin.socle_de_base.accordion.name_label') %>:</strong>
        <%= name %>
      </p>
      <% if description.present? %>
        <p class="fr-text--sm fr-mb-0">
          <strong><%= t('admin.socle_de_base.accordion.description_label') %>:</strong>
          <%= description %>
        </p>
      <% end %>
    </div>
  </div>
</div>
