<%= form_with url: admin_socle_de_base_index_path, method: :get, local: true, class: "fr-mb-3w" do %>
  <%= hidden_field_tag :tab, @current_tab %>

  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-4">
      <div class="fr-search-bar" role="search">
        <%= text_field_tag :q, params[:q],
                           class: "fr-input",
                           placeholder: t('admin.socle_de_base.filters.search_placeholder'),
                           "aria-label": t('admin.socle_de_base.filters.search_placeholder') %>
        <button class="fr-btn" type="submit">
          <span class="fr-sr-only">Rechercher</span>
        </button>
      </div>
    </div>

    <div class="fr-col-12 fr-col-md-2">
      <div class="fr-select-group fr-mb-0">
        <%= label_tag :market_type_id, t('admin.socle_de_base.filters.market_type_label'), class: "fr-label" %>
        <%= select_tag :market_type_id,
                       options_from_collection_for_select(@market_types, :id, :code, params[:market_type_id]),
                       include_blank: t('admin.socle_de_base.filters.market_type_all'),
                       class: "fr-select",
                       onchange: "this.form.submit()" %>
      </div>
    </div>

    <div class="fr-col-12 fr-col-md-2">
      <div class="fr-select-group fr-mb-0">
        <%= label_tag :source, t('admin.socle_de_base.filters.source_label'), class: "fr-label" %>
        <%= select_tag :source,
                       options_for_select([
                         [t('admin.socle_de_base.filters.source_all'), ''],
                         [t('admin.socle_de_base.filters.source_api'), 'api'],
                         [t('admin.socle_de_base.filters.source_manual'), 'manual']
                       ], params[:source]),
                       class: "fr-select",
                       onchange: "this.form.submit()" %>
      </div>
    </div>

    <div class="fr-col-12 fr-col-md-2">
      <div class="fr-select-group fr-mb-0">
        <%= label_tag :mandatory, t('admin.socle_de_base.filters.mandatory_label'), class: "fr-label" %>
        <%= select_tag :mandatory,
                       options_for_select([
                         [t('admin.socle_de_base.filters.mandatory_all'), ''],
                         [t('admin.socle_de_base.filters.mandatory_yes'), 'true'],
                         [t('admin.socle_de_base.filters.mandatory_no'), 'false']
                       ], params[:mandatory]),
                       class: "fr-select",
                       onchange: "this.form.submit()" %>
      </div>
    </div>
  </div>
<% end %>
