<%= content_for :page_title, t('admin.socle_de_base.edit.title') %>

<div class="fr-container fr-my-4w">
  <div class="fr-mb-3w">
    <%= link_to admin_socle_de_base_path(@market_attribute), class: "fr-link fr-link--icon-left fr-icon-arrow-left-line" do %>
      <%= t('admin.socle_de_base.show.back') %>
    <% end %>
  </div>

  <h1 class="fr-h2 fr-mb-4w"><%= t('admin.socle_de_base.edit.title') %></h1>

  <% if @errors.present? %>
    <div class="fr-alert fr-alert--error fr-mb-3w">
      <h3 class="fr-alert__title"><%= t('admin.socle_de_base.errors.title') %></h3>
      <ul>
        <% @errors.each do |attribute, messages| %>
          <% Array(messages).each do |message| %>
            <li><%= MarketAttribute.human_attribute_name(attribute) %> <%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @market_attribute, url: admin_socle_de_base_path(@market_attribute), method: :patch do |f| %>
    <%= render 'form_general_info', f: f %>
    <%= render 'form_descriptions', f: f %>
    <%= render 'form_configuration', f: f %>

    <div class="fr-btns-group fr-btns-group--inline">
      <%= f.submit t('admin.socle_de_base.edit.submit'), class: 'fr-btn' %>
      <%= link_to t('admin.socle_de_base.edit.cancel'),
            admin_socle_de_base_path(@market_attribute),
            class: "fr-btn fr-btn--secondary" %>
    </div>
  <% end %>
</div>
