<%= content_for :page_title, t('admin.socle_de_base.title') %>

<div class="fr-container fr-my-4w">
  <%= render 'admin/shared/navigation' %>

  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-mt-4w fr-mb-3w">
    <div class="fr-col">
      <h1 class="fr-h2 fr-mb-0"><%= t('admin.socle_de_base.title') %></h1>
    </div>
    <div class="fr-col-auto">
      <%= link_to t('admin.socle_de_base.export_button'), '#',
                  class: "fr-btn fr-icon-download-line fr-btn--icon-left" %>
      <%= link_to t('admin.socle_de_base.new_field_button'), '#',
                  class: "fr-btn fr-btn--secondary fr-icon-add-line fr-btn--icon-left fr-ml-2w" %>
    </div>
  </div>

  <%= render 'stats_cards' %>

  <%= render 'filters' %>

  <%= render 'tabs' %>

  <%= render 'accordions' %>
</div>
