<%= content_for :page_title, t('admin.socle_de_base.title') %>

<div class="fr-container fr-my-4w">
  <%= render 'admin/shared/navigation' %>

  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-mt-4w fr-mb-3w">
    <div class="fr-col">
      <h1 class="fr-h2 fr-mb-0"><%= t('admin.socle_de_base.title') %></h1>
    </div>
    <div class="fr-col-auto">
      <div class="fr-dropdown" data-controller="dropdown">
        <button class="fr-btn fr-btn--icon-right fr-icon-arrow-down-s-line"
                data-dropdown-target="button"
                data-action="click->dropdown#toggle"
                aria-expanded="false"
                aria-controls="dropdown-socle-de-base-actions">
          <%= t('admin.socle_de_base.manage_button') %>
        </button>
        <div class="fr-collapse fr-dropdown__menu"
             data-dropdown-target="content"
             id="dropdown-socle-de-base-actions">
          <ul class="fr-dropdown__list">
            <li>
              <%= link_to '#', class: "fr-dropdown__link" do %>
                <%= t('admin.socle_de_base.actions.export') %>
              <% end %>
            </li>
            <li>
              <%= link_to '#', class: "fr-dropdown__link" do %>
                <%= t('admin.socle_de_base.actions.new_field') %>
              <% end %>
            </li>
            <li>
              <%= link_to '#', class: "fr-dropdown__link" do %>
                <%= t('admin.socle_de_base.actions.history') %>
              <% end %>
            </li>
            <li>
              <%= link_to admin_categories_path, class: "fr-dropdown__link" do %>
                <%= t('admin.categories.navigation_link') %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <%= render 'stats_cards' %>

  <%= render 'filters' %>

  <%= render 'attributes_table' %>
</div>
